<form action="/users" method="post">
	<input name="authenticity_token" value="<%=form_authenticity_token %>" type="hidden">
	Name: 
	<input type="text" name="name">
	<button type="submit">Create</button>
</form>